* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  }

body {
  background: url(https://img.freepik.com/free-photo/background_53876-32175.jpg?w=1480&t=st=1723019910~exp=1723020510~hmac=30ee8c01394765f4646b2d6f618d1a4b59851231bee51ec343ba96f81c362248) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;  
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px black);
}

.main {
  transition: .3s ease;
  pointer-events: auto;
}

.main.active{
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  left: -50%;
}

.home-content{
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 58px;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  padding-bottom: 20px;
}

.header-content p {
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 10px black;
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 140px;
  height: 35px;
  background: red;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px red;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
}

.home-content .start-btn:hover {
  background: transparent;
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 500px;
  background: white;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info .info {
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin: 4px 0;
  padding: 10px 0 3px;
}

.popup-info h2 {
  font-size: 30px;
  color: red;
  margin-bottom: 10px;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.popup-info .btn-group .info-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background: grey;
  border: 2px solid grey;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: 500;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: red;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: grey;
  color: white;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: grey;
  border-color: grey;
}

.quiz-section {
  width: 100%;
  background: grey;
  position: relative;
  left: -50%;
  transition: .8s ease-in-out;
  transition-delay: .25s;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-section.active {
left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  pointer-events: none;
  transform: scale(.9);
}

.quiz-section .quiz-box.active{
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 1s;
}

.quiz-box h1{
  font-size: 28px;
  text-align: center;
  background: linear-gradient(45deg, transparent, white, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

.quiz-header p {
  font-size: 16px;
  font-weight: 500;
}

.quiz-header .header-score {
  background: powderblue;
  border-radius: 3px;
  padding: 5px;
}

.quiz-box .question-text {
  font-size: 20px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px 0;
  cursor: pointer;
  transition: .3s;
}

.option-list .option:hover {
  background: powderblue;
  border-color: powderblue;
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid white;
  padding-top: 20px;
  margin-top: 20px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 80px;
  height: 35px;
  background: powderblue;
  border: 2px solid powderblue;
  outline: none;
  border-radius: 7px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
 
}

.quiz-footer .next-btn:hover {
  background: grey;
  border-color: grey;
}